<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.dev.myapplication">

    <application android:name=".LibApp">
        <activity
            android:name=".QrScannerActivity"
            android:exported="false" />
        <activity
            android:name=".WebActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="false" />
    </application>
</manifest>